on early-init
    setprop service.okcar.enable 0

on boot
    mkdir /config/usb_gadget/g1/functions/okcar_usb_ethernet.gs0
    mkdir /config/usb_gadget/g1/functions/okcar_mobile.gs0
    mkdir /config/usb_gadget/g1/functions/okcar_mobile.gs1
    mkdir /config/usb_gadget/g1/functions/okcar_image.gs0
    mkdir /config/usb_gadget/g1/functions/okcar_image.gs1
    mkdir /config/usb_gadget/g1/functions/okcar_image.gs2
    mkdir /config/usb_gadget/g1/functions/hid.gs0
    write /config/usb_gadget/g1/functions/hid.gs0/subclass 0
    write /config/usb_gadget/g1/functions/hid.gs0/protocol 0
    write /config/usb_gadget/g1/functions/hid.gs0/report_length 64
    write /config/usb_gadget/g1/functions/hid.gs0/no_out_endpoint 1
    copy /vendor/etc/init/hw/okcar.hidreport.bin /config/usb_gadget/g1/functions/hid.gs0/report_desc

on property:vendor.pc.pccall=i1
    start pccall_i1
    setprop vendor.pc.pccall none

service pccall_i1 /system/bin/pccall -i 1
	user root
	group root
	oneshot
	disabled
	seclabel u:r:okcarte:s0

on property:vendor.pc.pccall=n1
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules cdc_ncm
    setprop vendor.pc.pccall none

on property:vendor.pc.pccall=n0
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -r -d /vendor/lib/modules cdc_ncm
    setprop vendor.pc.pccall none

on property:sys.usb.config=none
    setprop service.okcar.enable 0
