type okcarte, domain, coredomain;
init_daemon_domain(okcarte);

# ifconfig; ip/route operations;
allow okcarte shell_exec:file rx_file_perms;
allow okcarte system_file:file execute_no_trans;
allow okcarte toolbox_exec:file { execute execute_no_trans getattr open read map };
allow okcarte self:capability { fowner chown net_admin net_raw sys_module };
allow okcarte self:netlink_route_socket { setopt getattr write read bind create nlmsg_write nlmsg_read };
allow okcarte self:netlink_xfrm_socket { setopt getattr write read bind create nlmsg_write nlmsg_read };

allow okcarte net_data_file:file r_file_perms;
allow okcarte net_data_file:dir search;
allow okcarte dnsproxyd_socket:sock_file write;
allow okcarte self:udp_socket { create read ioctl setattr getattr setopt getopt write connect bind listen accept };
allow okcarte self:tcp_socket { create read ioctl setattr getattr setopt getopt write connect bind listen accept };
allow okcarte self:{ icmp_socket } create_socket_perms;
allow okcarte node:tcp_socket node_bind;
allow okcarte node:udp_socket node_bind;
allow okcarte port:tcp_socket { name_bind name_connect };
allow okcarte port:udp_socket name_bind;
allow okcarte proc_net:file { read getattr open };
allowxperm okcarte self:socket ioctl { SIOCETHTOOL };
allowxperm okcarte self:udp_socket ioctl priv_sock_ioctls;

# for okcar kernal api
allow system_app okcarapi_device:chr_file rw_file_perms;
allow init okcarapi_device:chr_file rw_file_perms;

# for /dev/hidg0 rx
allow system_app hidg_device:chr_file rw_file_perms;

# for system_app libusb /dev/bus/usb
allow system_app usb_device:dir r_dir_perms;
allow system_app usb_device:chr_file rw_file_perms;
allow system_app vendor_sysfs_usb_node:file rw_file_perms;

# for init set service.okcar.enable
allow vendor_init system_prop:property_service set;

# for app set vendor.pc.pccall
allow system_app vendor_pccall_prop:property_service set;
allow vendor_init vendor_pccall_prop:property_service set;
allow system_server vendor_pccall_prop:property_service set;

# for system_app contorl cdc_ncm params
allow system_app sysfs_net:dir r_dir_perms;
allow system_app sysfs_net:file rw_file_perms;
allow system_app vendor_sysfs_usb_node:dir r_dir_perms;

# autoconn /proc/sys/net/core/wmem_max read
allow system_app { proc_net }:file rw_file_perms;

# autoconn rw /metadata/bootstat/charger_wake_time\char_wake_enable
allow system_app metadata_file:dir rw_dir_perms;
allow system_app metadata_bootstat_file:dir rw_dir_perms;
allow system_app metadata_bootstat_file:file { rw_file_perms create };

# pccall /metadata/bootstat/charger_wake_time
allow okcarte metadata_file:dir rw_dir_perms;
allow okcarte metadata_bootstat_file:dir rw_dir_perms;
allow okcarte metadata_bootstat_file:file { rw_file_perms create };

# autoconn /sys/class/power_supply/usb/online
allow system_app vendor_sysfs_usb_supply:dir r_dir_perms;
allow system_app vendor_sysfs_usb_supply:file r_file_perms;

# pccall setprop sys.powerctl
allow okcarte init:unix_stream_socket connectto;
set_prop(okcarte, powerctl_prop)
